@import '../../scss/variables';


.element {
  margin-bottom: rem(10);
  padding: rem(20);
  background-color: $dark2;
  border-radius: rem(2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &Text {
    color: $light-grey;
    font: {
      size: rem(14);
      weight: 500;
      family: $roboto;
    }
  }
  &Button {
    color: $light;
    background-color: #af0606;
    font-size: rem(25);
    width: rem(35);
    height: rem(35);
    border-radius: rem(4);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: #b11414;
    }
  }
}