@import "../../scss/variables";

@mixin button() {
  padding: rem(10) rem(30);
  margin-right: rem(10);
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: rem(1.1);
  @media(max-width: $sm) {
    display: block;
    text-align: center;
    width: rem(250);
    margin-bottom: rem(10);
  }
  font: {
    size: rem(20);
    weight: 700;
    family: $mwf;
  }
}

header {
  min-height: 120vh;
  background-image: url("../../assets/header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(20);
  @media(min-width: $sm) {
    padding: rem(40);
  }
  @media(min-width: $md) {
    padding: rem(80);
  }
  @media(min-width: $lg) {
    padding: rem(120);
  }
  .headerTitle {
    // border: rem(2) solid $light;
    text-align: center;
    font: {
      family: $mwf;
      size: rem(60);
      weight: 600;
    }
    @media(min-width: $sm) {
      font-size: rem(80);
    }
    @media(min-width: $md) {
      font-size: rem(100);
    }
    color: $light;
    text-shadow: 0 0 rem(3) $dark, 0 0 rem(3) $dark;
  }
  .headerParagraph {
    text-align: center;
    margin-bottom: rem(20);
    font: {
      family: $mwf;
      size: rem(25);
      weight: 400;
    }
    color: $light;
    text-shadow: 0 0 rem(3) $dark, 0 0 rem(3) $dark;
  }
  // .button_outlined {
  //   background-color: transparent;
  //   border: rem(2) solid $dark;
  //   color: $dark;
  //   @include button();
  //   &:hover {
  //     box-shadow: 0 0 rem(2) $dark2, 0 0 rem(2) $dark2;
  //     text-shadow: 0 0 rem(1) $dark2, 0 0 rem(1) $dark2;
  //   }
  // }
  .button_contained {
    background-color: $success;
    border: rem(2) solid $success;
    color: $light;
    @include button();
    margin-inline: auto;
    width: rem(250) !important;
    height: rem(60);
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 rem(3) $dark, 0 0 rem(3) $success;
    box-shadow: 0 0 rem(4) $dark, 0 0 rem(4) $success;
    border-radius: rem(2);
    &:hover {
      opacity: 0.8;
    }
  }
}
