@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import './global';

// fonts 
$roboto: 'Roboto', sans-serif;
$robotoc: 'Roboto Condensed', sans-serif;
$mwf: 'Merriweather', serif;

// colors
$dark: #000000;
$dark2: #111111;
$light: #ffffff;
$grey: grey;
$light-grey: #cacaca;
$trans-grey: #c4c1c175;
$success: #269c26;
$danger: #e01a1a;

// grid
$sm: rem(576);
$md: rem(768);
$lg: rem(992);
$xl: rem(1200);
$xxl: rem(1400);
