@import "../../scss/variables";

.darkBg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1200;
  background-color: #000000e5;
}
.dataContent {
  z-index: 1201;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $light;
  color: $dark;
  padding: rem(20);
  border: rem(2) solid $dark;
  border-radius: rem(10);
  @media(max-width: $md) {
    width: 80%;
  }
  .paragraph {
    padding: rem(5);
    text-align: center;
    border-bottom: rem(1) solid $light-grey;
    font: {
      size: rem(14);
      family: $roboto;
      weight: 600;
    }
  }
  .importantMessage {
    font: {
      size: rem(13);
      family: $roboto;
      weight: 900;
    }
    text-align: center;
    color: $danger;
    padding: rem(5);
  }

}